/* Hoja de estilos */
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

* 
{
	text-decoration: none;
	margin: 0;
    padding: 0;
}

html
{
    min-height: 100%;
    position: relative;
}

body
{
    background-color: #ddd;
    color: #333;
    height: inherit;
}

header div {
    margin-left: 4%;
    color: #222a26;
    font-family: 'Pacifico', cursive;
    font-size: 1.1em;
}

header div img {
    width: 80px;
    height: 80px;
}

header div,header div a {
    display: flex;
    align-items: center;
}

a
{
    color: #333;
}

body, .grid article h2
{
    font-family: 'Fira Sans', sans-serif;
}

#articulo_principal h2
{
    font-size: 1em;
}

.paginacion ul {
	display: flex;
}

#fotoRegistro
{
    display: none;
    visibility: hidden;
}

/* Estilo general de icons, listas y enlaces */
ul
{
    list-style: none;
    position: relative;
    box-sizing: border-box;
}

/* Buscar, Acerca y Formularios */
form>p, #acerca_principal>section>p,  #acerca_principal>section>div>article>div>p, h1, h2
{
    margin: 10px 0;
}

#acerca_principal>section>div>article>div
{
    margin: 10px 5%;
}

#acerca_principal>section>p, #acerca_principal>section>div>article>div>p
{
    text-align: justify;
}

#login
{
    margin-bottom: 10px;
}

#registro_principal, #acerca_principal, #articulo_principal
{  
    padding: 180px 15%;
    background-color: #fff;
}
#login_principal
{
    padding: 180px 20%;
    background-color: #fff; 
}
#registro>p>input, #login>p>input
{
    width: 100%;
    border-radius: 4px;
    border: 2px solid #e1e1e1;
}

input:hover, textarea:hover
{
    transition: background-color .5s;
    background-color: #fec;
}

input:focus, #registro>p>input:focus, #login>p>input:focus
{
    border: solid 3px #edb;
    background-color: #fec;
}

#registro>input, #login>input
{
    border: 2px solid #e1e1e1;
}

/* Buscar */
#buscar form p {
	margin: 10px 0 10px 50px;
}

#buscar form p span {
	margin-right: 5em;
}

#buscar input[type='submit'], #registro input[type='submit'], 
#registro>p>input[type='reset'], #login input[type='submit'],
#art-nuevo input[type='submit'],
#form_preguntas input[type='submit'],
#preguntas_respuestas input[type='submit'] {
	background-color: #6ad;
    border: none;
    color: #fff;
    padding: 15px 0;
    font-size: 1.2em;
    border-radius: 8px;
	width: 80%;
	display: block;
	margin: 20px auto 0 auto;
}

#buscar input[type='submit'], #registro input[type='submit'], 
#registro>p>input[type='reset'], #login input[type='submit'], 
.ir-arriba, #art-nuevo input[type='submit'],
#form_preguntas input[type='submit'],
#preguntas_respuestas input[type='submit'] {
	cursor: pointer;
	opacity: .6;
	transition: .3s;
	text-align: center;
}
#articulo_principal a{
	cursor: pointer;
	transition: .3s;
	text-align: center;
}

#buscar input[type='submit']:hover, #buscar input[type='submit']:hover, 
#registro input[type='submit']:hover, #registro>p>input[type='reset']:hover, 
#login input[type='submit']:hover, .ir-arriba:hover,
#art-nuevo input[type='submit']:hover,
#form_preguntas input[type='submit']:hover,
#preguntas_respuestas input[type='submit']:hover {
	opacity: 1;
}

#articulo_principal img
{
    display: block;
    margin: auto;
}

#registro>p>label>img
{
    display: block;
    margin: 0 auto; 
    height: 128px;
    width: 128px;
}
#acerca_principal>section>div>article>img
{
    display: block;
    margin: 0 auto; 
    height: 192px;
    width: 192px;
}

/* Formulario registro */

#registro>p:nth-last-child(3)
{
    text-align: center;
    padding: 15px 0;
}


/* Menu lateral (ancho < 480px) */
header
{
    background-color: #6ad;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0 2px 6px #333;
    z-index: 1;
    color: #fff;
}

#menu_options>li>a
{
    transition: .3s ease-out .2s;
    border-top: solid 5px #6ad;
    display: block;
    padding: 1.4em;
    transition-delay: .2s;
    color: #fff;
    font-size: 1.1em;
}

#menu_options>li>a:hover
{
    background-color: #bef;
    border-top: solid 5px #37a;
    color: #333;
}
#menu_options>li>a:active
{
    transition: background-color 0s 0s;
    background-color: #37a
}

.menu_lateral>label>i
{
    padding: 1.3em;
    display: block;
    width: fit-content;
}

.menu_lateral
{
    height: 69px;
    background-color: #6ad;
}

#menu_options
{
    transition: left .5s ease-out .2s;
    left: -105%;
    text-align: center;
    background-color: #6ad;
    box-shadow: 0 2px 4px #333;
}


#m_lateral
{
    display: none;
}

#m_lateral:checked + #menu_options
{
    left: 0;
}
.menu_lateral>label
{
    text-align: right;
    width: fit-content;
}

/* Acerca */
#acerca_principal>section>div
{
    width: 100%;
}

#acerca_principal>section, #acerca_principal>section>div>article
{
    width: 100%;
}

/* Cuerpo comun */
#principal, 
#buscar, #resultados,
#art-nuevo {
	width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

aside, #buscar, #acerca_principal {
    margin-bottom: 25px;
}

aside, #buscar, #art-nuevo {
    margin-top: 180px;
}

#busqueda, #texto {
	width: 100%;
	height: 50px;
    padding-left: 1em;
    font-size: 1.2em;
    border-radius: 10px;
    border: 2px solid #e1e1e1;
}

#busqueda {
	box-sizing: border-box;
}

.grid {
	display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
	grid-gap: 30px 30px;
}

.grid article {
	padding: 20px 0 20px 0;
    min-width: 250px;
    border-radius: 5px;
    box-shadow: 5px 5px #27323229;
	background-color: #fff;
	font-family: 'Pacifico', cursive;
}

#login_principal>section>a
{
    display: block;
    width: fit-content;
}

.grid article, #registro>p:nth-last-child(3), #login_principal>section>a
{
	transition: .3s;
}

#registro>p:nth-last-child(3):hover, #login_principal>section>a:hover, 
#articulo_principal a:hover
{
	cursor: pointer;
	transform: scale(1.1);
}

.grid article:hover,
.grid article:active {
    transform: scale(.9);
}

.grid article a {
	color: #000;
}

.grid article i[class^='flaticon'] {
	font-size: 1.3em;
}

.grid h2 {
	min-height: 55px;
    padding: 5px 0 5px 0;
    color: #fff;
    background-color: #6ad;
    display: flex;
    justify-content: center;
	align-items: center;
	text-align: center;
}

.grid img {
	width: 100%;
}

.grid div > p {
	font-size: 1.6em;
}

.grid div, #articulo_principal div {
	padding: 0 20px;
    display: flex;
}

.grid .flaticon-gallery, .grid .flaticon-user {
	margin-left: auto;
}

.grid .flaticon-gallery, .grid .flaticon-user {
	padding-top: 5px;
}

.grid p:last-child {
	padding-left: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 86%;
	overflow: hidden;
	margin-top: 10px;
}

.paginacion {
	display: flex;
	justify-content: center;
	margin: 30px 0 100px 0;
	padding-left: 10px;
}

.paginacion a {
	color: #145;
	padding: 10px;
}
  
.paginacion a.active {
	background-color: #6ad;
	color: #fff;
	border-radius: 5px;
}
  
.paginacion a:hover:not(.active) {
	background-color: #90b8c7;
	border-radius: 5px;
}
.paginacion span
{
    display: none; 
}

.puntitos {
	padding-top: 5px;
    margin: 0 10px;
    color: #145;
}

footer {
	display: flex;
    justify-content: center;
	color:#fff;
	background-color: #0d455a;
    border-top: 5px solid #026f98;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 70px;
}

footer div {
	display: flex;
    margin-top: 25px;
    font-size: 1.3em;
}

footer p {
    margin-right: 50px;
}

footer a {
	color:#fff;
}

footer a:hover {
	color: #ffa600;
	font-weight: bold;
}

.ir-arriba {
	padding: 10px;
    background: #026f98;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
	border-radius: 3px;
}


/* Nuevo articulo - Subir fotos */
#art-nuevo {
    margin-bottom: 100px;
}

.add-img img,
.add-img div + label {
    cursor: pointer;
}

.add-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 30px;
}

.add-img div {
    width: 230px;
    height: 230px;
    position: relative;
    margin: 30px 20px 0 0;
}

.add-img div + label {
    box-sizing: border-box;
    width: 230px;
    height: 230px;
    border: 3px dashed #66aadd;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin: 30px 20px 0 0;
}

.add-img div + label:hover,
.add-img div + label:active {
    border-color: #ffa600;
    color: #ffa600;
    box-shadow: 2px 2px 6px #ffa600;
}

.add-img img {
    border-radius: 3px;
}

.add-img img:hover,
.add-img img:active {
    box-shadow: 2px 2px 6px #333;
}

.add-img div label .flaticon-plus, 
.add-img button {
    width: 60px;
    height: 48px;
    position: absolute;
    bottom: 1em;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.add-img div label .flaticon-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #08b;
    left: 2em;
}

.add-img div label .flaticon-plus:hover,
.add-img div label .flaticon-plus:active {
    background-color: #4ac2ee;
    box-shadow: 0 2px 6px #08b;
}

.add-img button {
    border: none;
    text-decoration: none;
    background-color: #c52222;
    right: 2em;
}

.add-img button:hover {
    background-color: #ff2f2f;
    box-shadow: 0 2px 6px #c52222;
}

.add-img input {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
/* Artículo */
#articulo_principal
{
    font-family: 'Pacifico', cursive;
    font-size: 1.3em;
    text-align: justify;
}
#articulo_principal img
{
    width: 192px;
}

#fotos_articulo img
{
    display: none;
}


#fotos_articulo img:first-child
{
    display: block;
}
#articulo_principal div>p
{
    flex-grow: 1;
}

#articulo_principal p:nth-child(4)
{
    text-align: center;
}

/* Menu lateral (ancho > 480px) */

@media all and (min-width: 480px)
{
    #menu_options
    {
        margin-top: 0;
        display: flex;
        left: 0%;
        top: 0;
        box-shadow: 0 0 0;
    }
    #menu_options>li>a
    {
        border-top: solid 5px #bef;
    }
    #menu_options>li
    {
        flex-grow: 1;
        text-align: center;
    }
    #menu_options>li>a>span
    {
        display: none;
    }
    .menu_lateral>label
    {
        display: none;
    }
    #menu_options>li>a>i
    {
       padding: 0;
    }
        
    .paginacion span
    {
        display: inline; 
    }
    
    #articulo_principal img
    {
        width: 256px;
    }
}

@media all and (min-width: 640px)
{

    #registro_principal, #acerca_principal, #articulo_principal 
    {
        margin: 0 15%; 
        padding: 180px 10%;
        background-color: #fff;
    }
    #login_principal
    {
        margin: 180px 20%; 
        padding: 100px 10%;
        background-color: #fff; 
    }
    
    #registro>p>label>img
    {
        height: 256px;
        width: 256px;
    }

    #acerca_principal>section>div
    {
        display: flex;
        width: 100%;
    }
    
    #acerca_principal>section>div>article>img
    {
        height: 128px;
        width: 128px;
    }

    .grid article:hover,
    .grid article:active {
        transform: scale(1.1);
    }
}

@media all and (min-width: 980px)
{    
    #registro_principal
    {
        margin: 0 20%; 
        padding: 180px 15%;
        background-color: #fff;
    }
    #acerca_principal, #articulo_principal
    {
        margin: 0 20%; 
        padding: 180px 10%;
        background-color: #fff;
    }
    #login_principal
    {
        margin: 180px 30%; 
        padding: 100px 10%;
        background-color: #fff; 
    }

    #menu_options>li>a>span
    {
        display: inline;
    }
    
    #acerca_principal>section>div>article>img
    { 
        height: 192px;
        width: 192px;
    }
    
    #articulo_principal img
    {
        width: 360px;
    }

    #principal {
        max-width: 70%;
    }
}

@media all and (min-width: 1280px)
{
    #acerca_principal>section>div>article>img
    {
        height: 256px;
        width: 256px;
    }
    #articulo_principal img
    {
        width: 512px;
    }
}

#principal h1, #buscar h1, 
#resultados h2, #art-nuevo h1,
#fotos-nuevas h2,
#acerca_principal h1,
#articulo_principal h1,
#preguntas_respuestas h2,
#form_preguntas h2 {
	border-bottom: 5px solid #6ad;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    min-height: 100px;
}

#articulo_principal input[type="checkbox"] {
    display: none;
}

#articulo_principal input[type="checkbox"] + label {
    display: inline-block;
    height: 50px;
    cursor: pointer;
    font-size: .7em;
}

#articulo_principal input[type="checkbox"]:checked + label {
    color: #0b8100;
}

#articulo_principal input[type="checkbox"] + label:hover,
#articulo_principal input[type="checkbox"] + label:active {
    color: #ffa600;
}

#articulo_principal .paginacion + div p {
    font-size: 2em;
}

#articulo_principal .paginacion + div a {
    border: 2px solid #6ad;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #6ad;
}

#articulo_principal .paginacion + div {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vendedor {
    align-items: center;
}

.vendedor i {
    margin-left: auto;
    font-size: 1.2em;
}

#articulo_principal .paginacion {
    margin: 0;
}

#vendedor:hover {
    color: #ffa600;
}

#preguntas_respuestas, #form_preguntas {
    margin-top: 3em;
}

#preguntas_respuestas h3 {
    color: #145;
}

#preguntas_respuestas h4 {
    color: #08b;
}

#preguntas_respuestas h3 + div {
    font-size: .9em;
    color: #85a6b3; 
}

#preguntas_respuestas article {
    margin-bottom: 2em;
}
    